@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

/*Refactoring... */
a{
    text-decoration: none;
    color: #000;
}

.post{
    padding-top: 150px;
}

.post-title{
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 44px;
    color: #000;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.post-date{
    margin-top: 44px;
    font-family: 'Exo 2.0';
    font-size: 20px;
    color: #646A6F;
    font-style: normal;
    font-weight: 300;
}

.author{
    margin-top: 6px;
    font-family: 'Exo 2.0';
    font-size: 18px;
    color: #646A6F;
    font-style: normal;
    font-weight: 300;
}

.post-content{
    margin-top: 40px;
}


.posts{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.read_more{
    margin-top: 150px;
}

.read_more-title{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 26px;
}

.read_more-item{
    width: 373px;
    margin-bottom: 46px;
}

.read_more-item:nth-child(3n-1){
    margin-left: 39px;
    margin-right: 39px;
}

.read_more-info{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: flex-start;
}

.read_more-tag{
    display: flex;
    letter-spacing: 0.05em;
    font-size: 12px;
    background-color: #D93D3D;
    color: #fff;
    padding: 3px 10px;
}

.read_more-date{
    font-family: 'Exo 2.0';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 130%;
}

.comment-nav {
    position: fixed;
    top: 0;
    right: -260px;
    height: 100vh;
    width: 200px;
    transition: 0.5s;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    white-space: nowrap;  /* предотвращает сползание элементов на следующую строку */
}

.comment-nav::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.comment-nav.open {
    right: 0px;
    height: 100vh;
    width: 597px;
    transition: 0.5s;
    background-color: #F6F6F7;
}

.comment-container{
    margin-top: 150px;
    margin-left: 63px;
    margin-right: 119px;
}

.comment-title{
    display: flex;
}

.comment-title-h1{
    font-family: 'Exo 2.0';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 140%;
    color: #151515;
}

.comment-title-svg{
    cursor: pointer;
    margin-top: 13px;
    margin-left: 140px;
}

