{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
<link rel="stylesheet" href="{% static 'css/components/btnprev.css' %}">

{% endblock styles %}
{% block main %}

<div class="container">
    <div class="post">
    <a href="/" class="btn-prev">
        <div class="arrow-prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none">
            <path d="M8 1L2 7L8 13" stroke="#D93D3D" stroke-width="1.5"/>
        </svg>
            </div>
        <div class="text-prev">Технологии</div>
    </a>
        <div class="post-title">{{post.title | truncatechars:117}}</div>
        <div class="post-date">
            {% if post.time_create|date:"j m Y" == time %}
            Сегодня
            {% elif post.time_create|date:"j m Y" == day %}
            Вчера
            {% else %}
            {{post.time_create | date:"j"}} <span id="month">{{post.time_create | date:"E"}}</span>,
            {{post.time_create | date:"Y"}}
            {% endif %}
        </div>
            {% if post.author == None %}
            {% else %}
        <div class="author">
            Автор: {{post.author}}
        </div>
            {% endif %}
        <div class="post-content">
            {{post.content | safe}}
        </div>
    </div>


    <button id="btn-open">Открыть меню</button>

    <nav class="comment-nav">
        <div class="comment-container">
            <div class="comment-title">
                <div class="comment-title-h1">Комментарии ({{comments}})</div>
                <div id="btn-close" class="comment-title-svg"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                <rect width="29.4507" height="1.47254" transform="matrix(0.709512 0.704693 -0.709512 0.704693 1.04492 0.208496)" fill="#151515"/>
                <rect width="29.4507" height="1.47254" transform="matrix(0.709512 -0.704693 0.709512 0.704693 0.0605469 20.7539)" fill="#151515"/>
                </svg>
                </div>
            </div>

            <form class="comment-form" id="comment" action="{% url 'post' post.slug %}" method="POST">
                {% csrf_token %}
                <input name="text" class="comment-input" id="message" placeholder="Ваш комментарий" required=""></input>
                <div class="comment-btn-submit">
                            {% if request.user.is_authenticated %}
                            <div class="comment-btn-cancel">отмена</div> <button type="submit" id="form-submit" class="main-button">Отправить</button>
                            {% else %}
                            <a href="{% url 'login' %}" id="form-submit" class="main-button">Login to comment</a>
                            {% endif %}
                </div>
            </form>

                {% for comment in post.blog_comments.all %}

                    <div class="comment-content">
                        <div class="comment-info">
                            <div class="comment-user-image">
                                <img height="40" width="40" src="{{comment.user.profile.avatar.url}}" alt="">
                            </div>
                            <div class="comment-user-info">
                                <div class="comment-user-username">{{comment.user.username}}</div>
                                <div>{{comment.created_date | date:"f d" }}</div>
                            </div>
                        </div>
                        <div class="comment-user-text">{{comment.text}}</div>
                        <div class="comment-btn-response" id="response-btn" >ответить</div>

                        <form class="submit-reply my-2" id="comment-reply" action="{% url 'add_reply' post.id comment.id %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                        <textarea name="text" rows="2" cols="50" id="message" placeholder="Type your reply" required=""></textarea>
                                </div>
                                <div class="col-lg-12">
                                        {% if request.user.is_authenticated %}
                                        <button type="submit" id="form-submit" class="main-button reply-button">Reply</button>
                                        {% else %}
                                        <a href="{% url 'login' %}" id="form-submit" class="main-button reply-button">Login to reply</a>
                                        {% endif %}
                                </div>
                            </div>
                        </form>

                    </div>

<!--                {% for reply in comment.comment_replies.all %}-->
<!--                <li class="replied">-->
<!--                    <div class="author-thumb">-->
<!--                        <img src="{{reply.user.get_profile_picture}}" alt="">-->
<!--                    </div>-->
<!--                    <div class="right-content">-->
<!--                        <h4>{{reply.user.username}}<span>{{reply.created_date}}</span></h4>-->
<!--                        <p>{{reply.text}}</p>-->
<!--                    </div>-->
<!--                </li>-->
<!--                {% endfor %}-->
                {% endfor %}

        </div>
    </nav>


{% if posts_more %}
    <div class="read_more">
        <div class="read_more-title">Читайте далее</div>
        <div class="posts">
        {% for post in posts_more %}
        <div class="read_more-item">
            <div class="read_more-img">
                <a href="{{post.get_absolute_url}}">
                    {% if post.photo %}
                    <img src="{{ post.photo.url }}" width="373" height="300" alt="...">
                    {% else %}
                    <img src="{{ post.photo.url }}" width="373" height="300" alt="...">
                    {% endif %}
                </a>
            </div>
            <div class="read_more-info">
                {% if post.category.slug is None %}
                <a href="#" class="recommendations_tag">Другое</a>
                {% else %}
                <a href='{% url 'category' post.category.slug %}' class="read_more-tag">{{post.category}}</a>
                {% endif %}
                <div class="read_more-date">
                    {% if post.time_create|date:"j m Y" == time %}
                    Сегодня
                    {% elif post.time_create|date:"j m Y" == day %}
                    Вчера
                    {% else %}
                    {{post.time_create | date:"j"}} <span id="month">{{post.time_create | date:"E"}}</span>,
                    {{post.time_create | date:"Y"}}
                    {% endif %}
                </div>
            </div>
            <div class="read_more-title"><a href="{{post.get_absolute_url}}">{{post.title | truncatechars:74}}</a></div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
{% else %}

{% endif %}
<script src="{% static 'javascript/commentBar.js' %}"></script>

{% endblock %}





