{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock styles %}
{% block main %}
<div class="container">
    <div class="post">
        <div class="post-title">{{post.title | truncatechars:117}}</div>
        <div class="post-date">
            {% if post.time_create|date:"j m Y" == time %}
            Сегодня
            {% elif post.time_create|date:"j m Y" == day %}
            Вчера
            {% else %}
            {{post.time_create | date:"j"}} <span id="month">{{post.time_create | date:"M"}}</span>,
            {{post.time_create | date:"Y"}}
            {% endif %}
        </div>
        {{post.content | safe}}
    </div>
</div>
{% endblock %}


